// // Your footer style
// #footer{
//   background: #222831;
//   border-top:2px solid #393e46;
// }

.fa-youtube:hover{
  color: #00adb5;
}

.fa-twitter:hover{
  color: #00adb5;
}
.fa-instagram:hover{
  color: #00adb5;
}
.fa-facebook:hover{
  color: #00adb5;
}
